#j_idt18 {
	border-style: hidden;
}

.ui-menu#j_idt18:j_idt28 {
	border: hidden;
}

#himage {
	width: 100%;
	height: 100px;
	align-items: center;
	background: #ffffff;
	color: #ffffff;
}

.ui-panel .ui-panel-titlebar {
	width: 100%;
	height: 100%;
	background: #ffffff;
	padding: 0em;
}

.ui-panel .ui-panel-title {
	margin: 0.1em 0px 0.2em 0 !important;
	border-color: white;
	margin-bottom: auto;
}

#pnl {
	margin: 0px;
}

.ui-panel .ui-panel-footer {
	text-align: center;
	border-width: 1px;
}

#homephoto {
	max-width: 612px;
	width: -webkit-fill-available;
}

.ui-datagrid-row td {
	vertical-align: text-top;
	width: inherit;
	min-width: 200px;
}
